@page
@model IndexModel
<link href="~/css/site.css" rel="stylesheet" type="text/css" />
<div>
	<h1>Chat</h1>
	<hr />
	👤User: <input type="text" id="userInput" value='@ViewData["Name"]' />
	💬Message: <input type="text" id="messageInput" value="Hello World!?"/>
	<input type="button" id="sendButton" value="👍 Send Message" />
	<hr />
	<ul id="messagesList"></ul>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/chat.js"></script>
