@page
@model IndexModel
<link href="~/css/site.css" rel="stylesheet" type="text/css" />
<div id="videos">
	<div id="container">
	<iframe width="160" height="120" src="https://www.youtube-nocookie.com/embed/AwBiRcU-DvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
	</iframe>
	</div>
	<div id="container">
		<video autoplay="true" id="videoElement">This is a test...</video>
	</div>
	<div id="container">
		<video controls width="160" height="120" autoplay="true"><source src="small.mp4" type="video/mp4">SMALL TEST</video>
	</div>
	<div id="container">
		<video controls width="160" height="120" autoplay="true"><source src="small.ogg" type="video/mp4">SMALL TEST</video>
	</div>
	<div id="container">
		<video controls width="160" height="120" autoplay="true"><source src="small.webm" type="video/mp4">SMALL TEST</video>
	</div>
</div>
<div>
	<hr />
	👤User: <input type="text" id="userInput" value='@ViewData["Name"]' />
	💬Message: <input type="text" id="messageInput" value="Hello World!?"/>
	<input type="button" id="sendButton" value="👍 Send Message" />
	<hr />
	<ul id="messagesList"></ul>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/chat.js"></script>
